@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    html, body {
        
        height: 100vh;
        background-image: linear-gradient(#5F2C82, #3ea8a8);
    }
    main {
        display: inline-block;
        width: 80vw;
        height: 50%;
    }
    div#img {
        float: left;
        width: 30%;
        height: 100%;
    }
    div#iform {
       float: right;
        width: 70%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }
    #imail, #ipass {
        background-color: rgb(152, 218, 218);
        border: 2px solid #5f2c82;
        width: calc(100% - 29px);
    }    
    span#person, span#key {
        transform: translate(1px, 5px);
    }
    input#entra {
        width: 94%;
        margin-bottom: 5px;
        color: white;
        background-color: rgb(86, 180, 180);
        border-radius: 5px;
        border: none;
    }
    input#esqueci {
        width: 94%;
        margin-bottom: 25px;
        color: rgb(41, 67, 83);
        background-color: white;
        border: 1px solid rgb(67, 192, 150);
        border-radius: 5px;
        
    }
    h2 {
        font-weight: bolder;
        font-size: larger;
    }
    p.dados {
        width: 94%;
    }
    p#msg {
        width: 94%;
        padding-left: 15px;
    }
}

@media screen and (min-width: 992px) {
    html, body {
        
        height: 100vh;
        background-image: linear-gradient(#5F2C82, #3ea8a8);
    }
    main {
        display: inline-block;
        width: 80vw;
        height: 330px;
    }
    div#img {
        float: right;
        width: 50%;
        height: 100%;
    }
    div#iform {
       float: left;
        width: 50%;
        height: 100%;
        
    }
    span#person, span#key {
        transform: translate(1px, 5px);
    }
    p#msg {
        padding-left: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 1em;
    }
    #imail, #ipass {
        background-color: rgb(152, 218, 218);
        border: 2px solid #5f2c82;
        width: 93.3%;
    }    
    input#entra {
        width: 93%;
        margin-bottom: 5px;
        color: white;
        background-color: rgb(86, 180, 180);
        border-radius: 5px;
        border: none;
        padding: 10px;

    }
    input#esqueci {
        width: 93%;
        margin-bottom: 0px;
        color: rgb(41, 67, 83);
        background-color: white;
        border: 1px solid rgb(67, 192, 150);
        border-radius: 5px;
        padding: 10px;
    } 
    h2 {
            font-size: 2em;
            font-weight: bolder;
            margin-top: 5px;
        }
}